.simple-slider .SoSlider__slide{
    position: relative;
    margin-bottom: 0;
    height: 100%;
}
.simple-slider .SoSlider__slide figure,
.simple-slider .SoSlider__slide figure img{
    height: 100%;
    object-fit: cover;
}
.simple-slider figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1em;
    color: #FFF;
    text-shadow: 0 0 black;
    font-size: 1.3em;
}
.simple-slider figcaption *{
    margin: 0;
}
.SoSlider__arrows {
    opacity: 0.1;
}